<section class="order-details">
  <h2>Order Details</h2>
  <p><strong>Customer Email:</strong> <%= @order.email %></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.product.name %></td>
          <td>$<%= line_item.item_price %></td>
          <td><%= line_item.quantity %></td>
          <td>$<%= line_item.total_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><strong>Total Amount:</strong> $<%= @order.total_cents / 100.0 %></p>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
